# Activate the virtual environment
source .venv/bin/activate

# Set Flask app and environment variables
export FLASK_APP=app.py
export FLASK_ENV=development

# Alias to simplify running the app
alias runapp='flask run'